@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

section{
    padding: 0;
    margin: 0;
}

 .box{	
    height: 600px;
	width:  600px;
	background:#f8f9fa;
	margin: 0 auto;
	padding: 20px 20px 20px 20px; 
    border-radius: 25px;
    border-color: #ececec;
    border-style: solid;
}
 .box2{
    height: 700px;
	width:  700px;
	background:#f4f4f4;
	margin: 0 auto;
	padding: 20px 20px 20px 20px; 
}

.cadastro {
    height: 70px;
    width: 480px;
    margin-left: 50px;
    margin-top: -5px;
    padding-left: 15px;
    background-color: #E9ECEF;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 25px;
  }

.cadastro:hover {
    background-color: #DEE2E6;
  }

.cadastro:focus{
    border-color: #000000;
    background-color:  #FFFFFF;
}

  .botao {
    height: 80px;
    width: 500px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #1971C2;
    border: 2px solid transparent;
    color: white;
    border-radius: 10px;
    font-size: 25px;
  }

  .botao:hover {
    background-color: #1864AB;
    cursor: pointer;
  }

  .botao:focus{
    border-color: #000000;
  }

  .titulo{
    text-align: center;
    padding-top: 70px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
  }

  .descricao{
    font-size: 20px;
    margin-left: 50px;
    padding-top: 100px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
  }
    